body {
    font-family: 'Arial', sans-serif;
    background-color: #f8d7da;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 100px;
}

h1 {
    font-size: 36px;
    color: #dc3545;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #218838;
}

footer {
    background-color: #dc3545;
    color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#buttons {
    position: relative;
}